
body{
  font-family: Verdana, sans-serif ;
}

header {
  background-color: #04aa6d;
  color: white;
  margin: 4px ;
  padding: 15px;
  border-radius: 4px;

  *{
    margin: 0px;
    padding: 0px;
  }


}
nav{
  li{
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    margin: 4px;
    padding: 2px;
    list-style-type: none;
     border-radius: 4px;
  }
  ul{
    margin: 0px;
    padding: 0px;
  }
  #active{
    background-color: #04aa6d;
    color: white;
  }
 
}
main{
  a{
    color: black;
  }
}

aside{
  background-color: #32a4e7;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 4px;
}

footer{
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px ;
  margin: 4px;
  border: 1px solid #d4d4d4;
  font-size: 70%;
  text-align: center;
  line-height: 14px;
}

/* mobile device screen */
@media  (max-width: 600px) {
 body{
  background-color: white;
 }


}

/* tablet device screen */
@media  (min-width: 600px) and (max-width:768px) {
 body{
  background-color: white;
 }
 section{
  display: grid;
  grid-template-columns: 20% 75% ;
  gap: 5%;
 
 }
aside{
  grid-column: 1 / span 2;
}


}

 /* large device screen */
 @media  (min-width: 769px){
section{
  display: grid;
  grid-template-columns: 20% auto 20%;
  gap: 10px;
}

}

